<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseVelocity" value="100"/>
    <add key="baseTempo" value="120"/>
    <add key="velocityAmount" value="10"/>
    <add key="doManualVelocity" value="false"/>
    <add key="manualVelocity" value="100"/>
    <add key="qNoteLength" value="480"/>
    <add key="endingVelocity" value="true"/>
    <add key="beginningVelocity" value="true"/>
    <add key="modSmooth" value="true"/>
    <add key="consonantScope" value="bdfgjkpstvzclmnrwyh"/>
    <add key="vowelScope" value="aeiouE93@AIO86x&amp;10"/>
  </appSettings>
</configuration>